aiohttp==3.8.3
aiosignal==1.2.0
alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==1.2.2
async-generator==1.10
async-timeout==4.0.2
attrs==21.2.0
austin-python==0.2.1
austin-web==0.2.2
Babel==2.9.1
backcall==0.1.0
backports.entry-points-selectable==1.1.1
binaryornot==0.4.4
bleach==4.0.0
Bottleneck==1.3.2
Brotli==1.0.9
CacheControl==0.12.10
cachy==0.3.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.9
cleo==0.8.1
click==8.0.4
clikit==0.6.2
colorama==0.4.5
cookiecutter==1.7.3
crashtest==0.3.1
cryptography==36.0.0
cursor==1.3.5
cycler==0.10.0
dataclasses==0.6
dateparser==1.1.7
dbus-python==1.2.18
decorator==5.0.9
defusedxml==0.7.1
devtools==0.6
distlib==0.3.4
distro==1.6.0
docutils==0.16
entrypoints==0.3
filelock==3.4.0
fonttools==4.26.1
frozenlist==1.3.1
fs==2.4.11
gpg==1.15.1
halo==0.0.29
html5lib==1.1
husl==4.0.3
identify==2.4.12
idna==3.3
imagesize==1.2.0
importlib-resources==3.3.1
ipykernel==5.5.0
ipython==7.26.0
ipython_genutils==0.1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.1
jinja2-time==0.2.0
joblib==1.2.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
keyring==21.8.0
kiwisolver==1.3.2
libcomps==0.1.18
lockfile==0.12.2
log-symbols==0.0.14
lxml==4.6.3
MarkupSafe==2.0.0
matplotlib==3.5.1
matplotlib-inline==0.1.2
mistune==0.8.4
msgpack==1.0.3
multidict==6.0.2
munkres==1.1.2
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.0.8
nest-asyncio==1.4.3
netifaces==0.10.6
networkx==3.0
nodeenv==1.6.0
notebook==6.4.0
numexpr==2.7.1
numpy==1.21.5
numpydoc==1.1.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
olefile==0.46
packaging==20.9
pandas==1.3.3
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.2
pastel==0.2.1
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.8.2
platformdirs==2.4.0
ply==3.11
poetry-core==1.0.7
poyo==0.5.0
pre-commit==2.17.0
prometheus-client==0.9.0
prompt-toolkit==3.0.5
protobuf==3.20.2
psutil==5.9.2
ptyprocess==0.7.0
pycairo==1.20.1
pycparser==2.21
pycurl==7.44.1
pyfiglet==0.8.post1
Pygments==2.9.0
pylev==1.4.0
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-sip==12.9.0
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.1
python-slugify==6.1.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==22.2.1
regex==2022.10.31
requests==2.26.0
requests-toolbelt==0.9.1
rpm==4.17.0
scikit-learn==1.2.1
scipy==1.7.0
scour==0.38.1
seaborn==0.11.1
SecretStorage==3.3.1
Send2Trash==1.7.1
shellingham==1.4.0
six==1.16.0
snowballstemmer==1.9.0
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spinners==0.0.24
statsmodels==0.13.0
stdlib-list==0.8.0
tables==3.6.1
termcolor==2.0.1
terminado==0.10.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==3.1.0
toml==0.10.2
tomlkit==0.7.2
torch==1.13.1
torchvision==0.14.1
tornado==6.1
traitlets==5.0.5
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
ujson==5.7.0
urllib3==1.26.7
virtualenv==20.10.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.4
xlrd==2.0.1
xlwt==1.3.0
yarl==1.8.1
